@import "./scss/mixins";
@import "scss/error";
@import "scss/button";
@import "scss/header";
@import "scss/main";
@import "scss/request";
@import "scss/side";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
* {
  list-style: none;
  text-decoration: none;
  font-family: Nunito;
  padding: 0;
  margin: 0;
}
.App {
  background: #F9F9F9;
}
.container {
  max-width: 1170px;
  margin: auto;
  @include desktop-sm {
    max-width: 904px;
  }
}


