.header {
  background: #fff;
  .container {
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    .buttons {
      display: flex;
      button {
        margin: 0 0 0 10px;
      }
    }
    img {
      height: 26px;
    }
  }
}